# Ignore system files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code configuration files
.vscode/

# Mac-specific files
._*
