# Revised list of pip packages
# pip install -r requirements.txt

## Core Packages

pandas==2.2.2
numpy==1.26.4
scikit-learn==1.2.2
torch==2.4.1
transformers==4.45.1
better-profanity==0.7.0
regex==2024.9.11
protobuf==4.25.5
huggingface-hub==0.25.1
tqdm
matplotlib==3.7.5
scipy==1.14.1
torchvision==0.19.1
tensorflow-macos==2.16.2
tensorflow-metal==1.1.0
pillow==10.3.0
requests
packaging==22.0
xgboost==2.1.1
zstandard==0.23.0

## Dependency Packages

absl-py
aiohappyeyeballs
aiohttp
aiosignal
anyio
argon2-cffi
attrs
beautifulsoup4
bleach
cffi
charset-normalizer
comm
coremltools==8.0
cycler==0.12.1
datasets
decorator
defusedxml
dill
entrypoints
exceptiongroup
executing
fastjsonschema
filelock
flatbuffers
fonttools==4.54.1
frozenlist
fsspec==2024.6.1
gast
google-pasta
grpcio
h5py
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
IProgress==0.4
ipykernel
ipython
ipywidgets==8.1.5
jax==0.4.26
jax-metal==0.1.0
jaxlib==0.4.26
jedi
Jinja2
joblib==1.4.2
json5
jsonpointer
jsonschema
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-client
jupyter-core
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-widgets==3.0.13
keras
kiwisolver==1.4.7
Markdown
markdown-it-py
MarkupSafe
mistune
ml-dtypes==0.3.2
mpmath
multidict
multiprocess
namex
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook
notebook-shim
opt_einsum
optree
overrides
parso
pexpect
pickleshare
pkgutil_resolve_name
platformdirs
profanity-check==1.0.3
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyaml==24.9.0
pyarrow==17.0.0
pyobjc-core
pyobjc-framework-Cocoa
pyparsing
PyPrind==2.11.2
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
rfc3339-validator
rfc3986-validator
rich==13.8.1
rpds-py
safetensors
Send2Trash
six
sniffio
soupsieve
stack-data
style==1.1.0
sympy==1.13.1
tensorboard==2.16.2
tensorboard-data-server
tensorflow==2.16.2
tensorflow-estimator
terminado
threadpoolctl==3.5.0
tinycss2
tokenizers==0.20.0
tomli
torchaudio
tornado
traitlets
types-python-dateutil
typing-utils
typing-extensions
tzdata
update==0.0.1
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension==4.0.13
wrapt
xxhash
yarl
zipp
