# List of required libraries to run the model
# Note: huggingface key is also required if you wish to run locally
# Python==3.10.14

# Core Libraries
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.2.2
torch==2.4.1
transformers==4.45.1
tqdm
requests

# NLP & Offensive Language Detection
better-profanity==0.7.0
regex==2024.9.11

# Visualization (Optional but useful)
matplotlib==3.7.5

# TensorFlow (For Apple MPS support)
tensorflow-macos==2.16.2
tensorflow-metal==1.1.0

# Checkpointing and Model Handling
huggingface-hub==0.25.1

# Optional: Add-ons for Accelerated Performance
xgboost==2.1.1
scipy==1.14.1

# Optional but useful
joblib==1.4.2  # For parallel processing
